body {
  font-family: $font;
}
header#page_header {
	//background: #bc471d url('/assets/brandtag.png') bottom right no-repeat;
	//background: url('/assets/brandtag.png') bottom right no-repeat;
	@include linear-gradient($header_background, lighten($header_background, 20%));
	color: #fff;
	height: 80px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0px 20px 0px 20px;
	//padding: 5px 20px 15px 20px;
	a,
	a:link,
	a:hover,
	A:active,
	A:visited{
		color: #fef8e7;
		text-decoration: none;
	}
	nav#utility {
//		border: solid yellow;
		float: right;
		font-size: 13px;
		.header_button {
			  @include button(simple, $button_color);
				padding: 5px;
			}
	}
	nav#main_nav {
		margin: 0px;
		padding:0px;

	//	display:inline;
	position: absolute;
//	border: solid red;
//	  top: 36px;
//	  left: 350px;
//	position: relative;
	left: 400px;
	top: 53px;
		font-size: 16px; // 80 - 16 + 8 (4px padding top and bottom)
//		ul {
//		  list-style-type: none;
//			margin: 0;
//			padding: 0;
//		}  
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		  li {
			  list-style-type: none;	
	      background: $nav_background;
		    @include border-top-radius(5px);
			  display: inline-block;
	      margin: 0 2px;
	      padding: 4px 6px;
	      a, a:link, a:visited {
	        color: #fff;
	        text-decoration: none;
	      }
	      &.active {
	        background: #fff;
	        margin-bottom: -1px;
	        a, a:link, a:visited {
	          color: #555;
	          font-weight: bold;
	        }
	      }
	    } // end li
	  }//end ul
	}//end nav#main_nav
	#title {
	//	float: left;
		font-size: 80px;
	  color: #fff;
//	  border: solid green;
  }

}

#tagline {
	margin-left: 20px;
	font-style: italic;
}

div.container {
	overflow: hidden;
	padding: 0 20px;
	.button {
    @include button(simple, $button_color);
		font-size: .9em;
		margin: 10px 35% 10px 10%;
		padding: 5px 20px 5px 20px;
		display: block;
		text-align: center;
	}
}

section#content {
	float: left;
	//margin: 0 2% 0 0;
	width: 100% - $container_gap - $sidebar_percent_of_container;
}

section#sidebar {
	float: right;
	margin-bottom: 20px;
	margin-right: -20px;
	width: $sidebar_percent_of_container;
	//@include box-shadow(0 0 4px 4px fadeout($footer_bottom, 0));
}	

footer#page_footer {
	@include linear-gradient(lighten($footer_background, 5%), darken($footer_background, 5%));
	border-bottom: 10px solid $footer_bottom;
	color: $footer_font;
	font-size: 0.7em;
	font-family: $font;
	height: 50px;
	padding: 10px 20px;
	ul {
		margin-left: -10px;
		padding: 0;
		li {
			border-right: 1px solid $footer_font;
			display: inline;
			margin: 0;	
			&:last-child {
				border-right: none;
			}
			a {
				padding: 5px 10px;
				&:link,
				&:hover,
				&:visited,
				&.active {
					color: $footer_font;
				}
			}
		}
	}
}