// Color Variables
$nav_background: #006699;
$sidebar_background: #eaebeb;
$sidebar_header_background: #FF3366;
$button_color: #339933;
$list_hover: lighten(#ff6ea0, 27%);
// Width Variables
$container_gap: 2%;
$sidebar_percent_of_container: 20%;
// Font Variables
$font: $verdana;
$font_color: lighten(#444343, 0%);