// Color Variables
$nav_background: #0099cc;
$sidebar_background: #eaebeb;
$sidebar_header_background: lighten(#ff6ea0, 5%);
$button_color: #76c159;
$list_hover: lighten(#ff6ea0, 27%); //#F8FCCF;
// Width Variables
$container_gap: 2%;
$sidebar_percent_of_container: 20%;
// Font Variables
$font: $verdana;
$font_color: lighten(#444343, 15%);

