/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, footer, address {   
    display: block;   
}

/**************************/
/* custom global settings */
/**************************/
html, body, button, input, select, textarea, label {
	font-family: $font;
	color: $font_color;
	height: 100%;
	a, a:link, a:visited, a:hover, a:active {
		outline: 0;
	}
}

div#wrapper {
	background-color: #ffffff;
	min-height: 100%;
	height: auto !important; /* min-height hack for older IE */
	height: 100%; /* min-height hack for older IE */
	margin: 0 auto -52px; /* setting to allow sticky footer :-) */
	/****************************/
	/****** button formats ******/
	/****************************/
	.basic_button {
		@include button(simple, $button_color);
		display: block;
		text-align: center;
		font-size: 12px;
		margin: 10px 10% 10px 10%;
		padding: 2px 5px 2px 5px;
	}
	.link_button {
		@extend .basic_button;
	}
	.link_category_button {
		@include button(simple, $category_button_color);
		display: block;
		text-align: center;
		font-size: 12px;
		margin: 10px 10% 10px 10%;
		padding: 2px 5px 2px 5px;
	}
	.link_category_button_on {
		@include button(simple, $button2_pressed_color);
		color: $nav_background;
		display: block;
		text-align: center;
		font-size: 12px;
		margin: 10px 10% 10px 10%;
		padding: 2px 5px 2px 5px;
	}
	.search_button {
		@extend .basic_button;
		width: 80%;
	}
	.content_link_button {
		@extend .basic_button;
		font-size: 14px;
		margin: 10px 0 0 0;
		padding: 5px 0px 5px 0px;
		width: 200px;
	}
	.content_button {
		@extend .basic_button;
		font-size: 14px;
		margin: 20px 0 0 0;
		padding: 5px 0px 5px 0px;
		width: 200px;
	}
}

/******************************************************************************/
/*********************************** HEADER ***********************************/
/******************************************************************************/

header#page_header {
	line-height: 21px; /* fixes difference for Nav between firefox default at 21px vs other browsers at "normal" */
	background: url('/assets/filler_v12.jpg') top left; // repeat-x;
//	background: black;
	color: white; // #fff or #ffffff
	height: 115px; //originally 100px
	margin-bottom: 10px;
	overflow: hidden;
	padding: 10px 10px 0px 10px; // top used to be 0px
	a, a:link, a:hover, a:active, a:visited{
		color: white; 
		text-decoration: none;
	}
	p#trademark {
		position: absolute;
		color: $nav_background;
		font-size: 8px;
		top: 88px;
		left: 190px;
	}
	nav#utility {
		float: right;
		padding: 10px 0px 0px 0px;
		font-size: 13px;
		.header_button {
			  @include button(simple, darken($button_color, 5%));
				padding: 2px 5px 2px 5px;
			}
	}
	nav#main_nav {
		position: absolute;
			right: 10px;
	  	//top: 69px; // added 15px in height to header from base 100, so added original 54px here to make 69px
			top: 85px;
		font-size: 14px;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			height: 25px;
		  li {
			  list-style-type: none;	
	      background: $nav_background;
			  border-top-left-radius: 5px;
				border-top-right-radius: 5px;
//				display: inline-block; // doesn't work with IE prior to 9... errrr....
				float: left; // using this instea dof inline-block, since IE sucks...
	      margin: 0 6px;
	      padding: 2px 10px;
	      &.active {
	        background: white;
	        margin-bottom: -1px;
	        a, a:link, a:visited {
	          color: $nav_background;
	          font-weight: bold;
						text-decoration: none;
	        }
	      }
	    }// end li
	  }// end ul
	}// end nav#main_nav
	#slogan {
		color: $nav_background;
//		border: solid red;
		position: absolute;
		font-style: italic;
		font-size: 16px;
		top: 110px;
		left: 60px;
	}
}// header#page_header

/******************************************************************************/
/************************************ BODY ************************************/
/******************************************************************************/

div#container {
	overflow: hidden;
	padding: 0 20px;
	margin: 0 0 20px 0;
	font-size: 14px;
}

section#content {
	h1 {
		//text-shadow: -3px 1.5px 1px lighten($font_color, 40%);
		color: $nav_background;
		font-size: 28px;
		clear: both;
		&#no_clear {
			clear: none;
			padding: 0px;
			margin: 0px 0px 20px 0px;
		}
	}
	#welcome {
		padding: 0;
		display: block;
		margin: 50px auto 0 auto;
	}
	position: relative;
	float: left;
	width: 100% - $container_gap - $sidebar_percent_of_container;
	@each $size in 6,8,10,11,12,13,14,15,16,17,18,19,20,22,24,26,28,30 {
		p.size_#{$size} {
			font-size: #{$size}px;
		}
	}
	/****************************/
	/******* contact info *******/
	/****************************/
	#phone_pre {
		margin: 0;
		font-size: 20px;
		display: inline;
	}
	#phone {
		display: inline;
		font-size: 20px;
		margin: 0;
		color: $button_color;
	}
	#phone_post {
			font-size: 14px;
			margin: 0 0 40px 183px;
		}
	.email {
		display: inline;
		//color: $button_color;
		a, a:link, a:hover, a:active, a:visited {
			text-decoration: none;
			color: $button_color;
		}
	}
	.social {
		margin: 20px 0px 0px 20px;
		.icon {
//			float: right;
//			border: solid green;
			margin: 0px 20px 0px 0px;
		}
	}	
	/****************************/
	#sort {
		float: right;
		margin: 0 0 10px 0;
		a, a:link, a:hover, a:active, a:visited{
			color: darken($button_color, 10%);
			text-decoration: none;
			padding: 5px
		}
		li {
			margin: 0px;
			display: inline;
			border-right: 2px solid $sidebar_background;
			&:last-child {
				border-right: none;
			}
		}
	}// end #sort

	#subscription_status {
		font-size: 11px;
		margin: 0px 0px 10px 0px;
		float: right;
		//font-style: italic;
		font-weight: bold;
		color: $sidebar_header_background;
	}

	#gum_image { // full size
		margin-bottom: 20px;
	}
	
	input[type="checkbox"] {
	  width: 25px;
	  height: 25px;
		margin: 5px 0 0 0;
	}
	#slideshow {  
	    height:  400px;  
	    width:   400px;  
	    padding: 0;  
	    margin:  100px auto;
	} 
	#slideshow img {  
	    width:  400px; 
	    height: 400px;
	    top:  0; 
	    left: 0;
	}
	// area not editable when updating a subscription
	#billing_edit_disabled {
		input, select, textarea, label {
		 	color: lighten($font_color, 50%);
			p.bill_edit_comment {
				font-weight: normal;
				color: $font_color;
			}
		}
	}
}// end section#content

section#sidebar {
	float: right;
	margin-bottom: 20px;
	margin-right: -20px;
	width: $sidebar_percent_of_container;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: $sidebar_background;
	.basic_header {
		font-size: 14px;
		background-color: $sidebar_header_background;
		border-bottom: 5px solid darken($sidebar_background, 30%);
		margin: 15px 0px 10px 0px;
		padding: 5px 10px 5px 10px;
		color: white;
	}
	.basic_ul {
		list-style-type: none;
		padding: 0px;
	}
	#sub_nav {
		h3{
			@extend .basic_header;
		}
		ul {
			@extend .basic_ul;
			margin: 0;
		}
	}// end #sub_nav
	#search {
		h4{
			@extend .basic_header;
		}
		ul#gum {
			@extend .basic_ul;
			margin: 5px 15px 5px 10px;
			input {
				width: 100%;
			}
			li {
				padding: 2px 0px;
			}
		}
		ul#member {
			@extend .basic_ul;
			margin: 5px 15px 5px 10px;
			input {
				width: 100%;
			}
			li {
				padding: 0px;
				margin: 10px 0 10px 0;
				list-style-type: none;
			}
  		ul#sex {
				padding-left: 25%;
				margin: 0;
				border: solid red;
			}
			li.sex_label {
				padding: 0;
				margin: 0;
			}
			li.sex_input {
				width: 100%;
		    height: 100%;
		    padding: 0;
		    margin: 0;
				border: solid green;
			}
		}// end ul#member
		
		ul#rating {
			@extend .basic_ul;
			margin: 0px 0px 0px 15px;
			li {
				font-size: 11px;
				position: relative;
				padding: 0px 0px;
				margin: 0px 10px 15px 10px;
				input {
					width: 30%;
					position: absolute;
					left: 40px;
					top: -4px;
				}
				&#comment input {
					position: static;
					width: 100%;
				}
			} // end li
			p {
				font-size: 13px;
				font-weight: bold;
				margin: 0px 0px 10px 0px;
			}
		}// end ul#rating
	}// end #search
	h5{
		@extend .basic_header;
//		margin: 20px 0px 10px 0px;
	}
	#advertisements {
		margin: 0px auto 10px auto;
		//border: dotted green;
		width: 160px;
		height: 600px;
	}
}// end section#sidebar

/******************************************************************************/
/*********************************** FOOTER ***********************************/
/******************************************************************************/

div#sticky_footer_push{
	height: 52px;
}

footer#page_footer {
	position: relative;
	@include linear-gradient(lighten($sidebar_background, 4%), darken($sidebar_background, 15%));
	font-size: 12px;
	height: 32px;
	padding: 5px 10px 15px 10px;
	margin: 0 auto;
	ul {
		margin-left: -10px;
		padding: 0;
		li {
			float: right;
			border-left: 1px solid $font_color;
			display: inline;
			margin: 0;	
			&:last-child {
				border-left: none;
			}
			a {
				padding: 5px 10px;
				&:link,
				&:visited,
				&.active {
					color: $font_color;
					text-decoration: none;
					&:hover {
						color: $nav_background;
						text-decoration: none;
					};// end hover
				}// end active
			}// end a
		}// end li
	}// end ul
}// end footer#page_footer