// *********************** GLOBAL LIST LAYOUT SETTINGS ***********************
ul.list_container {
	clear: both;
	width: 100%;
	margin: 0px;
  padding: 5px 5px 5px 5px;  
  list-style-type: none;
//	min-height: 100px;
	min-height: 110px; // 5px top row padding + 12px top image padding + 100px image + 12px bottom image padding + 5px bottom row padding
//	&:hover { background-color: $list_hover; }
	border-bottom-color: darken($sidebar_background, 10%);
  border-bottom-width: 1px;
	border-bottom-style: solid;
}
.row_settings {
	width: 84%;
//	margin: 5px 0px 5px 0px;
  padding: 0px;
	font-size: 14px;
  list-style-type: none;
	min-height: 75px;
}
.stat_box {
	width: 100px;
	@include linear-gradient(lighten($sidebar_background, 5%), darken($sidebar_background, 5%));
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	margin: 0px 5px 5px 5px;
	.header {
		font-size: 12px;
	}
}
.comment_area {
	text-align: left;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: darken($sidebar_background, 5%);
	border-radius: 10px;
	min-height: 16px;
	padding: 5px;
}
ul.list_links {
	width: 15%;
	float: right;
	font-size: 12px;
	list-style-type: none;
	padding: 0;
	margin: 0px;
	.list_row_link {
		@include button(simple, darken($button_color, 5%));
		margin: 10px 0 10px 0;
		padding: 2px 0px 2px 0px;
		display: block;
		text-align: center;
		a, a:link, a:visited, a:hover, a:active {
			color: white;
	    text-decoration: none;
			outline: 0;
	  }
	}
}

// ******************************** GUM LIST ******************************** 
ul.gum_list {
	@extend .row_settings;
	//&:hover { background-color: $list_hover; }
	//min-height: 74px;
	a, a:link, a:visited, a:hover, a:active {
		display: block;
		width: 100%;
		height: 100%;
		color: $font_color;
    text-decoration: none;
  }
	img.gum_logo {
		float: left;
		// current uploader thumb size is 100x75
//		width: 100px;
//	  height: 75px;
//	  margin: 12px 25px 12px 10px; removed top and bottom image padding, all handled in row now
		margin: 0px 25px 0px 10px;
	}
	li {
		padding: 0px;
		margin: 0px;
	}
//	.clear_list {
//		clear: both;
//	}
	.rating {
		float: right;
		font-size: 24px;
		margin: 5px 5px 5px 10px;
		text-align: center;
		p {
			margin: 0px;
			padding: 0px;
			text-align: right;
		}
	}
	.votes {
		float: right;
		font-size: 18px;
		margin: 5px 15px 5px 15px;
		text-align: center;
		text-decoration: none;
		p {
			margin: 0px;
			padding: 0px;
		}
		img {
			float: left;
			width: 38px;
		  height: 38px;
		  padding: 0px;
			opacity:0.8;
			filter:alpha(opacity=80); /* For IE8 and earlier */
		}
		&.up {
			//a, a:link, a:visited, a:hover, a:active {
			//	color: $button_color;
			//}
		}
		&.down {
			//a, a:link, a:visited, a:hover, a:active {
			//	color: $nav_background;
			//}
		}
	}// end .votes
	.content {
		p {
			padding: 5px;
			margin: 0px;
			//font-size: 20px;
		}
	}
}// end ul.gum_list

// ****************************** RATING LIST ******************************
ul.rating_list {
	@extend .row_settings;
//<------------------------------- TO DO ***** need to control row height outside list_container... gums page is fixed, ratings and member will increase based on user free text input
	ul.list_container {
		min-height: 1px; // overwriting min height from gums and other pages because ratings text could be long, standard row height is not controlled
	}
	.ratings_gum_logo {
		float: left;
		// current uploader thumb size is 100x75
//		width: 100px;
//	  height: 75px;
	 // margin: 12px 25px 12px 10px;
	margin: 0px 25px 12px 10px;
	}
	font-size: 24px;
	.score {
		@extend .stat_box;
		//margin: auto;
		//vertical-align: middle;
		float: left;
		height: 45px;
	}
 	.comment {
		@extend .comment_area;
		clear: left;
	}
}
// ****************************** MEMBER LIST ******************************
ul.member_list {
	@extend .row_settings;
	.score {
		@extend .stat_box;
		height: 40px;
		float: right;
	}
 	.comment {
		@extend .comment_area;
		clear: right;
	}
}
// *************************** SHIPMENT LIST ***************************
ul.shipment_list {
	@extend .row_settings;
	width: 100%;
	.shipment_header {
		color: $nav_background;
		font-size: 24px;
		clear: none;
		margin: 0px 0px 10px 0px;
	}
	.shipment_gums {
		margin: 0px 0px 0px 50px;
	}
	.sub_gum_logos {
		margin: 10px 10px 0px 10px;
	}
	.count {
		float: right;
		font-size: 14px;
	}
}
// ********************* NEWS LIST (bottom border only) ********************
.news {
	border-bottom-color: darken($sidebar_background, 10%);
  border-bottom-width: 1px;
	border-bottom-style: solid;
}