// *********************** GLOBAL LIST LAYOUT SETTINGS ***********************
ul.list_container {
	clear: both;
	width: 100%;
	margin: 0px;
  padding: 5px 5px 5px 5px;  
  list-style-type: none;
//	min-height: 100px;
//	min-height: 100px;
//	&:hover { background-color: $list_hover; }
	border-bottom-color: darken($sidebar_background, 10%);
  border-bottom-width: 1px;
	border-bottom-style: solid;
}
.row_settings {
	width: 84%;
  padding: 0px;
	margin: 0px;
	font-size: 14px;
  list-style-type: none;
	min-height: 100px;
}
.stat_box {
	width: 100px;
	@include linear-gradient(lighten($sidebar_background, 5%), darken($sidebar_background, 5%));
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	margin: 0px 5px 5px 5px;
	.header {
		font-size: 12px;
	}
}
.comment_area {
	text-align: left;
	font-size: 12px;
//	border-style: solid;
//	border-width: 1px;
//	border-color: darken($sidebar_background, 5%);
//	border-radius: 10px;
	min-height: 16px;
	padding: 5px;
	font-style: italic;
}
ul.list_links {
	width: 15%;
	float: right;
	font-size: 12px;
	list-style-type: none;
	padding: 0;
	margin: 0px;
	.list_row_link {
		@include button(simple, darken($button_color, 5%));
		margin: 10px 0 10px 0;
		padding: 2px 0px 2px 0px;
		display: block;
		text-align: center;
		a, a:link, a:visited, a:hover, a:active {
			color: white;
	    text-decoration: none;
			outline: 0;
	  }
	}
}
li.clear_row {
	clear: both;
	margin: 0px;
	padding: 0px;
}

// ******************************** GUM LIST ******************************** 
ul.gum_list {
	@extend .row_settings;
	min-height: 100px;
	//&:hover { background-color: $list_hover; }
	//min-height: 74px;
	a, a:link, a:visited, a:hover, a:active {
		display: block;
		width: 100%;
		height: 100%;
		color: $font_color;
    text-decoration: none;
  }
	.gum_logo_container {
		float: left;
		width: 100px;
		height: 100px;
		position:relative;
	}	
	img.gum_logo {
		margin:auto; // Required
	 	position:absolute; // Required
	 	top:0;
		bottom:0; // Aligns Vertically
		left:0;
		right:0;  // Aligns Horizontally
	}

	li {
		padding: 0px;
		margin: 0px;
	}	
	.rating {
		float: right;
		font-size: 24px;
		margin: 5px 5px 5px 10px;
		text-align: center;
		p {
			margin: 0px;
			padding: 0px;
			text-align: right;
		}
	}
	.buy {
		@include button(simple, lighten($nav_background, 8%));
		float: right;
		margin: 25px 25px 10px 10px;
		padding: 12px; //2px 0px 2px 0px;
		display: block;
		text-align: center;
		a, a:link, a:visited, a:hover, a:active {
			color: white;
		  text-decoration: none;
			outline: 0;
		}
	}
	.votes {
		float: right;
		font-size: 18px;
		margin: 5px 15px 5px 15px;
		text-align: center;
		text-decoration: none;
		p {
			margin: 0px;
			padding: 0px;
		}
		img {
			float: left;
			width: 38px;
		  height: 38px;
		  padding: 0px;
			opacity:0.8;
			filter:alpha(opacity=80); /* For IE8 and earlier */
		}
		&.up {
			//a, a:link, a:visited, a:hover, a:active {
			//	color: $button_color;
			//}
		}
		&.down {
			//a, a:link, a:visited, a:hover, a:active {
			//	color: $nav_background;
			//}
		}
	}// end .votes
	.content {
		margin-left: 150px;
		p {
			padding: 15px 5px 0px 5px;
			margin: 0px;
			font-size: 16px;
		}
	}
}// end ul.gum_list

// ****************************** RATING LIST ******************************
// *********************** Rating Diagram ***********************
// 		----- ul.list_container -------------------------------------------------------------------------------------------
// 		|		li																																							li														|
//		|		----- ul.ratings_list -------------------------------------------------------		----- ul.list_links -------		|
//		|		|																					li																|		|													|		|
// 		|		|		----- li.gum_logo_conatiner -----			---- ul.ratings_container ----		|		|		---- li (xN) ------		|		|
// 		|		|		|																|			|	li.ratings_row							|		|		|		|									|		|		|
// 		|		|		|																|			|			ul.ratings_set					| 	|		|		-------------------		|		|
// 		|		|		|																|			|					li.score						| 	|		|													|		|
// 		|		|		|																|			|	li.comment									|		|		|													|		|
//		|		|		---------------------------------			-------------------------------		|		|													|		|
//		|		-----------------------------------------------------------------------------		--------------------------		|
//		-------------------------------------------------------------------------------------------------------------------
ul.rating_list {
	@extend .row_settings;
	font-size: 24px;
	.gum_logo_container {
		float: left;
		width: 100px;
		height: 100px;
		position:relative;
//		margin-right: 50px;
	}
	img.gum_logo {
		margin:auto; // Required
	 	position:absolute; // Required
	 	top:0;
		bottom:0; // Aligns Vertically
		left:0;
		right:0;  // Aligns Horizontally
	}
	ul.ratings_container {
		list-style-type: none;
	  margin: 0px 25px 0px 150px;
		padding: 0px;
		li.ratings_row {
			width: 100%;
			display: block;
			padding: 0px;
			margin: 0px;
			ul.ratings_set {
				list-style-type: none;
				padding: 0px;
				margin: 0px;				
				li.score {
					@extend .stat_box;
					float: left;
					height: 45px;
				}//end li.score
			}//end ul.ratings_set
		}// end li.ratings_row
	 	li.comment {
			width: 100%;
			@extend .comment_area;			
			display: block;
			float: left;
		}// end li.comment
	}// end ul.ratings_container
}// end ul.ratings_list
// ****************************** MEMBER LIST ******************************
ul.member_list {
	@extend .row_settings;
	min-height: 70px;
	.score {
		@extend .stat_box;
		height: 40px;
		float: right;
	}
	.alias {
		font-weight: bold;
//		padding: 5px 0px 0px 0px;
//		border: dotted red;
	}
 	.comment {
		@extend .comment_area;
		padding: 0px;
		clear: none;
	}
}
// *************************** SHIPMENT LIST ***************************
ul.shipment_list {
	@extend .row_settings;
	width: 100%;
	min-height: 150px;
	.shipment_header {
		color: $nav_background;
		font-size: 16px;
		clear: none;
		margin: 0px 0px 10px 0px;
	}
	.shipment_gums {
		margin: 0px 0px 0px 50px;
	}
	.sub_gum_logos {
		margin: 10px 10px 0px 10px;
	}
	.count {
		float: right;
		font-size: 14px;
	}
	.sub_gum_logo_container {
		float: left;
		width: 100px;
		height: 100px;
		position: relative;
		margin: 0px 20px 20px 0px;
	}
	img.sub_gum_logo {
		margin: auto; // Required
	 	position: absolute; // Required
	 	top: 0;
		bottom: 0; // Aligns Vertically
		left: 0;
		right: 0;  // Aligns Horizontally
	}
}
// ********************* NEWS LIST ********************
.news {
	a, a:link, a:visited, a:hover, a:active {
		color: darken($button_color, 10%);
    text-decoration: none;
		outline: 0;
  }
	border-bottom-color: darken($sidebar_background, 10%);
  border-bottom-width: 1px;
	border-bottom-style: solid;
}