#vote_container {
	clear: both;
}
#vote_text {
	float: right;
	margin: 0 0 5px 0;
	//color: $nav_background;
}
.vote_bubble {	 
	float: right;  
	font-size: 20px;
	margin: 0;
  padding: 0 10px 0 0;
  background: url("/assets/bubble3.png") no-repeat;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	color: $button_color;
	a, a:link, a:visited {
		display: block;
	  width: 48px;
	  height: 48px;
	}
	a:hover img {
		visibility: hidden;
	}
	a:hover {
		visibility: visible;
	}
}

.vote_bust {
	float: right;  
	font-size: 20px;
  margin:0;
  padding: 0 10px 0 0;
  background:url("/assets/bust3.png") no-repeat;
  background-repeat: no-repeat;
	background-size:48px 48px;
	color: $nav_background;
	a, a:link, a:visited {
		display: block;
	  width: 48px;
	  height: 48px;
	}
	a:hover img {
		visibility: hidden;
	}
	a:hover {
		visibility: visible;
	}
}

/******************************************************************************/
/******************************** SHOW SHARED *********************************/
/******************************************************************************/
div#show_header {
	margin: 0px;
	padding: 0px;
	#gum_image {
		margin: 0px 20px 10px 0px;
		float: left;
	}
	#show_text {
		margin-left: 420px;
		margin: 0px 0px 0px 0px;
		padding: 0px;
		p {
			padding: 0px;
			margin: 0px 0px 10px 0px;
		}
	}
}
h2 {
	clear: both;
}
#show_ratings_row {
	margin: 5px 0px 5px 0px;
  padding: 0px;
	font-size: 24px;  
	list-style-type: none;
		li#rank1, li#rank2, li#rank3, li#rank4, li#rank5, li#average, li#total {
			width: 100px;
			@include linear-gradient(lighten($sidebar_background, 5%), darken($sidebar_background, 5%));
			//@include border-radius(10px);
			border-radius: 10px;
			float: left;
			text-align: center;
			padding: 5px;
			margin: 0px 5px 5px 5px;
			.header {
				font-size: 12px;
			}
		}
}
#vote_results_bubble {
	float: right;
	font-size: 20px;
	margin: 0;
  padding: 0;
}
#vote_results_bust {
	float: right;
	font-size: 20px;
	margin: 0;
  padding: 0;
}
#show_rating_comment {
	clear: both;
	text-align: left;
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: darken($sidebar_background, 5%);
	border-radius: 10px;
	min-height: 16px;
	padding: 5px;
}
#ratings_count { // bottom of page, shows total ratings for indivudal gum
	clear: both;
	font-size: 12px;
	color: rgb(0, 114, 188);
}
/******************************************************************************/
/******************************* SHOW PROFILE *********************************/
/******************************************************************************/
ul.profile_info {
//	border: solid red;
	list-style-type: none;
	min-height: 40px;
	margin: 0px;
//	margin: 5px 0px 5px 0px;
  padding: 0px;
	font-size: 14px;
//	&:hover { background-color: $list_hover; } // turned off hover here to match gums list pages
//	border-bottom-color: darken($sidebar_background, 10%);
//  border-bottom-width: 1px;
//	border-bottom-style: solid;
	li.label {
//		border: solid green;
		float: left;
		width: 200px;
		padding: 5px 0px 5px 0px;
	}
	li.result {
		clear: none;
		padding: 5px 0px 5px 0px;
//		border: solid blue;
	}
}
/******************************************************************************/
/******************************* SHOW PROFILE *********************************/
/******************************************************************************/
ul.rating_info {
//		border: solid red;
		list-style-type: none;
		min-height: 40px;
		margin: 0px;
	  padding: 0px;
		font-size: 14px;
//		&:hover { background-color: $list_hover; } // turned this off to match gums list page (image issues)
			li.label {
//				border: solid green;
				float: left;
				width: 150px;
				padding: 5px 0px 5px 0px;
			}
			li.result {
//				border: solid blue;
				clear: none;
				padding: 5px 0px 5px 0px;
			}
}
