<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	    <h1 style="color:#006699; font-family: Verdana, Geneva, sans-serif;">
			Hello <%= @resource.email %>!
		</h1>
		<p style="color:#444343; font-family: Verdana, Geneva, sans-serif;">
			Someone has requested a link to change your Intl Gum password, and you can do this through the link below.
		</p>	
		<p>
			<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :class => 'content_link_button' %>
		</p>
  </body>
</html>

